/* Ensure Tailwind CSS is installed and configured */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #000000;
  --foreground: #424242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424242;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title-and-textInput {
  padding: 0.8rem;
}

.results-div {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
